body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  /* font-family: 'Work Sans', sans-serif; */
}

nav {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 10%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 2vh;
  cursor: pointer;
}

nav li {
  padding-right: 1%;
  z-index: 2;
}

nav li:last-child {
  padding-right: 0;
}

nav a:hover{
    color: #9f2429;
}

nav a:active {
    color: #D1C7B9;
}



/* Sektion 1 */
#section1 {
  height: 105vh; /* højde 100% på alle skærme */
  width: 100%;
  overflow: hidden;
  /* background-color: #f2f2f2; */
}



h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 8vh;
  font-weight: 900;
  color: white;
  position: relative;
  top: 25vh;
  text-align: center;
  background-color: #9f2429;
  width: 68vw;
  margin: auto;
  }


#section1 h2 {
    padding: 0;
    position: relative;
    text-align: center;
    top: 30vh;
    background-color: #9f2429;
    width: 30vw;
    margin: auto;
    color: white;
    font-size: 7vh;
}


#logo {
  position: absolute;
  left: 0;
  width: 8vh;
  margin-left: 10%;
  margin-top: 4%;
  z-index: 2;
}

#headerbackground {
  width: 100%;
  position: fixed;
  height: 105vh;
  z-index: -1;
}

.brush {
  width: 100%;
  position: absolute;
  top: auto;
  bottom: -5vh;
  padding-right: 0
}

/* sektion 2 */
#section2 {
  height: 100vh;
  background-color: #D1C7B9;
}

.flex-section-2 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.about-text {
  flex:1;
  line-height: 1.5;
  margin: auto;
  display: block;
  padding: 10vh;
  /* background-color: deeppink; */
}

.about-text h2 {
  font-size: 3.5vh;
  background-color: #9f2429;
  color: white;
  padding: 1vh;
}
.about-text p {
  font-size: 2vh;
}

.giraf {
  flex: 1;
  height: 100vh;
  overflow: hidden;
  /* background-color: deeppink; */
}

#giraf {
  width: 110vh;
  position: relative;
  left: -17vh;
  top: -18vh;
}


/* sektion 3 */
#section3 {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  background-color: #B5B394;
}

#section3 h2 {
  background-color: #9f2429;
  color: white;
  padding: 1vh;
}

.flex-section-3 {
  display: flex;
  flex-direction: row;
  margin: auto;
}



.about-text1 {
  font-size: 2vh;
  flex: 1;
  order: 2;
  line-height: 1.5;
  margin: auto;
  display: block;
  padding: 10vh;
  font-weight: 300;
}

.lion {
flex: 1;
height: 80vh;
overflow: hidden;
}

#lion {
  width: 90vh;
  position: relative;
  left: -10vh;
  top: 2vh;
}



/* sektion 4 */
#section4 {
  height: 80vh;
  width: 100%;
  background-color: #d1c7b9;
}

#section4 h2 {
  background-color: #9f2429;
  color: white;
  padding: 1vh;
}

.flex-section-4 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.elg {
  flex: 1;
  order: 2;
  height: 80vh;
  overflow: hidden;
}

#elg {
  width: 120vh;
  position: relative;
  left: -17vh;
}

.why-us-text {
  font-size: 2vh;
  flex: 1;
  order: 1;
  line-height: 1.5;
  margin: auto;
  display: block;
  font-weight: 300;
  padding: 5%;
}

.why-us-text p .fed {
  font-weight: 900;
}

.why-us-text p .italic {
  font-style: italic;
}

/* sektion 5 */
#section5 {
  height: 45vh;
  width: 100%;
  overflow: hidden;
  background-color: #B5B393;
  margin: 0;
}

#section5 h2 {
  text-align: center;
  font-size: 3.5vh;
}

.flex-values {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin: auto;
}
.flex-tekst {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.flex-1 {
  flex: 1;
  width: 20%;
  overflow: hidden;
}
.flex-tekst h3 {
  flex: 1;
  text-align: center;
  font-size: 2vh;
}

.flex-1 img {
  width: 45%;
  margin: auto;
  display: block;
  margin-top: 1vh;
}

/* sektion 6 */

#section6 {
  height: 75vh;
  width: 100%;
  background-color: #d9d9d9;
}

#logos1 {
  margin: auto;
  display: block;
  width: 113vh;
}

#section6 h3 {
  text-align: center;
  /* font-family: 'Work Sans', sans-serif; */
  font-size: 3.5vh;
  padding-top: 4vh;
  margin-top: 0;
}

/* sektion 7 */
#section7 {
  height: 70vh;
  background-color: #f2f2f2;
}

#section7 h2 {
  text-align: center;
  /* font-family: 'Work Sans', sans-serif; */
  font-size: 3.5vh;
  margin: 0;
  padding: 5vh;
}

.flex-pictures {
  display: flex;
  flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 66vw;
}

.flex-pictures img {
  width: 25vh;
  height: 100%;
}

.flex-pictures img:last-child {
  margin-right: 0;
}

div.flex-pic-text {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 66vw;
}


div.flex-pic-text2 {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 66vw;
}

div.flex-pic-text2 p {
    margin: 0;
    text-align: center;
}

div.flex-pic-text3 {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 66vw;
}

div.flex-pic-text3 p {
    margin: 0;
    text-align: center;
}

#section7 img.logo{
    width: 8vh;
    display: block;
    margin: 5vh auto auto auto;
}

div.flex-pic-text4 {
    margin-top: 4vh;
}


div.flex-pic-text4 p{
    text-align: center;
}


/* footer */
#footer {
  padding: 3vh;
  background-color: #D1C7B9;
}

.icons {
  float: left;
  position: relative;
  top: 1.5vh;
}

.icons img {
  margin-right: 2vh;
}

.artifactsolutions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
