body {

}


/* Sektion 1 */
#section1 {
  height: 100vh; /* højde 100% på alle skærme */
  background-image: url('assets/images/header.png') /* header bg */
}

/* sektion 2 */
#section2 {
  height: 100vh;
}

.flex-section-2 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.about-text {
  flex:1;
}

.giraf {
  flex: 1;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#giraf {
  width: 100%;
}

/* sektion 2 */
#section3 {
  height: 80vh;
}

/* sektion 2 */
#section4 {
  height: 100vh;
}

/* sektion 2 */
#section5 {
  height: 30vh;
}

/* sektion 2 */
#section6 {
  height: 80vh;
}

/* footer */
#footer {

}
